@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Tangerine:wght@700&display=swap');

:root {
 --primary-clr: #f3eed9;
 --secondary-clr: #222c2a;
 --bg-clr1: #0000ff;
 --bg-clr2: #ccccff;
}

*,
*::before,
*::after {
 box-sizing: border-box;
}

body {
 font-family: 'Commissioner', sans-serif;
 font-weight: 400;
 font-size: 1.5rem;
 line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
 margin: 0;
 text-align: justify;
}

h1 {
 color: var(--primary-clr);
 font-family: 'Tangerine', cursive;
 font-weight: 900;
 line-height: 1;
}
h2,
h3 {
 color: var(--secondary-clr);
 font-family: 'Commissioner', sans-serif;
 font-weight: 700;
 line-height: 1;
}

h2,
h3,
p {
 margin-bottom: 1em;
}

header,
section {
 padding: 4rem 0;
 @media (min-width: 40em) {
  header,
  section {
   padding: 7rem 0;
  }
 }
}

.container {
 margin-inline: auto;
 width: min(90%, 70.5rem);
}

.split {
 display: flex;
 flex-direction: column;
}

@media (min-width: 40em) {
 .split {
  flex-direction: row;
 }
 .hero {
  margin-top: 7rem;
  margin-bottom: 7rem;
 }

 .split > * {
  flex-basis: 100%;
 }

 .split > * + * {
  margin-left: 2em;
 }

 h1 {
  font-size: 75px;
 }
}

.connect {
 padding-top: 1rem;
 margin-bottom: 2rem;
}

.bg-color1 {
 background-color: var(--bg-clr1);
 color: white;
}

.bg-color2 {
 background-color: var(--bg-clr2);
}

.intro {
 padding-top: 1rem;
 margin-bottom: 2rem;
}
